@media (min-width: $default-site-width) {
	.head-img{
		max-height:43px;
	}
 header {
 .header-outer{ 
		border-top: 2px solid #d0d0d0;
		border-bottom: 2px solid #d0d0d0;
		padding: 1px 0px 2px 0px;
		margin: 25px auto;
		max-width: $default-site-width;
	}
	}
	
	.main_content {
   
    .content-wrapper {
       padding:0px !important;

	}
	}
	
	footer {
	/* border-top: 2px solid #d0d0d0;
   overflow: hidden;
    margin-top: -4px;*/
	}
	
	/*SCREEN SPECIFIC*/
	.privacy-policy,.terms-of-use{
		.main_content {
   
    .content-wrapper {
     	 margin-left:20px;
	}
	}
	}
}


@media (min-width: 760px) {

	header{
		.header-outer{ 
		 	height:45px !important;
		 }
	}
	
	.site-logo:before {
   	 height: 120%;
	}

/*NAV LINKS */
  .desktop-link{
  	display:block !important;
  }
  .menu-link,.mobile-link,.sub-top-link,.sub-back-link{
  	display:none !important;
  }

.menu {
    display: block;
    width: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: $nav-font-size;
    border-top: 0px solid $nav-mobile-border-color;
    float: right;
    margin-top:-38px;
    ul {
        padding: 0px;
        margin: 0px;
        border:0px;
        list-style: none;
        position: relative;
        display: inline-table;
        color: $nav-font-color;
        
        li.has-submenu > a:after {
    		content: '';
 			 }
         li.blue-bar a {

            padding: 16px;
		  border-radius:0px;
           margin-left: 4px;
        }
       li.blue-bar a:hover {
			 padding: 16px;
           border-radius:0px;
        }
        li {
            padding: 0px;
            display: inline-block;
            a {
                display: block;
                text-decoration: none;
                padding: 12px;
                border-radius: 5px;
                border-bottom: 0px solid lightgray;
                position: relative;
               	/*background-color: $header-menu-color;*/
            }
            a:hover {
                background-color: $nav-hover-color;
                border-radius: 5px 5px 0 0;
                padding-bottom: 16.5px;
            }
           
            ul.sub-menu {
            	background-color: $nav-hover-color;
                min-width: 10em;
               /* padding: 4px 0;*/
                border: 1px solid #CCC;
                display: none;
                position: absolute;
                top: 100%;
                min-width: 160px;
                border-radius: 0 5px 5px 5px;
                margin-top: 3px;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                filter: alpha(opacity=50);
                -moz-opacity: 0.5;
                -khtml-opacity: 0.5;
                opacity: 1;
  
                
                li { 
                position: relative; 
                display: inherit;
                	a{
                		 height: auto;	text-align:left; 
                		 background-color: $nav-hover-color;
                		 padding-left: 0.8em; 
                	}
                	 a:hover { background-color: $nav-hover2-color;  border-radius:0px; }
                }
                
                li.back-link{
                	display:none;
                }
             	li.sub-back-link{
                		display:none;
                }
            }
        }
    }
}


.menu ul ul ul { position: absolute; left: 100%; top:0; }

/*CONTENT AND SIDEBAR STYLES*/
.main_content {
   
    .content-wrapper {
       padding:15px 15px 0 15px;
        .content {
            width: 70%;
        }
        .entry {
           
            h1 {
                font-size:36px !important;
                line-height:47px !important;
            }
            .entry-content {
            }
        }
        aside.sidebar {
           display:block;
            ul {
               
                .blue-bar > a:first-child {
                   
                }
                ul {
                    
                }
                a {
                   
                }
            }
        }
    }
}
}


@media (min-width : 800px){
	
footer {
	.footer-inner{
	 .quick-links-menu {
	  margin-left:10px;
	 }
	 .explore {
		 margin-left:-20px;
		 float:right;
	 a{
		font-size:15px !important;
		}
		}
		.quick-links-menu {
		float:none;
	 	font-size: 13px !important;
	 }
	.copyright{
		width:auto;
		font-size: 11px !important;
		margin-left:10px;
	}
	}
	}
}

@media (min-width : 760px) 
and (max-width : 850px) {
	footer {
	.footer-inner{
	 .quick-links-menu {
	  margin-left:10px;
	 }
	 .explore {
		 margin-left:-20px;
		 float:right;
	 a{
		font-size:13px !important;
		}
		}
		.quick-links-menu {
		float:none;
	 	font-size: 11px !important;
	 }
	.copyright{
		width:auto;
		font-size: 10px !important;
		margin-left:10px;
	}
	}
	}
}

@media (min-width : 760px) 
and (max-width : 799px) {

	.menu {
		font-size :11px;
	}
	.menu ul li > a{
		padding:11px;
	}
}

@media (min-width: 480px) {

	.head-img{
		max-height:32px;
	}
	.site-logo {
		max-width: 100%;
		height:45px;
	}
	.menu-link { 
		padding: 12px;
		font-size:12px;
	}
	
	.main_content {
   
    .content-wrapper {
       .entry {
            
            h1 {
                font-size:$content-mobile-header-font-size;
            }
            .entry-content {
                font-size:15px !important;
            }
        }

	}
	}
}

@media (min-width: 320px) {

	header{
		.header-outer{ 
		 	height:41px; 
		 }
	}
	.site-logo {
		height:38px;
	}
	.menu-link { 
		padding: 11px;
		font-size:10px;
	}
	
	
	.main_content {
   
    .content-wrapper {
       .entry {
            
            h1 {
                font-size:$content-mobile-header-font-size;
            }
            .entry-content {
                font-size:14px;
            }
        }

	}
	}
	
		footer {
	.footer-inner{
	 .quick-links-menu {
	  margin-left:10px;
	 }
	 .explore {
		 margin-left:-20px;
	 a{
		font-size:15px;
		}
		}
		.quick-links-menu {
	 	font-size: 13px;
	 }
	.copyright{
		font-size: 11px;
		margin-left:10px;
	}
	}
	}
	 
}

@media (max-width: 240px) {
	
                a.smallFont{
                	font-size:10px;
                }
}

@media (max-width: 220px) {
	
	footer .footer-inner .explore{
		margin-left:-20px;
	}
	
	
		footer {
	.footer-inner{
	
	 .explore {
		 margin-left:-20px;
	 a{
		font-size:8px;
		}
		}
		.quick-links-menu {
	 	font-size: 8px;
	 }
	}
	}


}