@charset "utf-8";
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    text-align: center;
    font-family: $default-font-family;
    background-color: $header-menu-color;
}
header {
    margin: 0 auto;
     section{
     margin: 0 auto;
    max-width: $default-site-width;
     } 
     .header-inner {
    margin: 0 auto;
    max-width: $default-site-width;
    }
}


.head-img {
    background: $header-color;
    max-height: 20px;
    height: 100%;
}
.site-logo {
    float: left;
    max-width: 65%;
    height: 32px;
    font: 0/0 a;
    padding-left: .5%;
}
.site-logo:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.site-logo img {
    display: inline-block;
    vertical-align: middle;
    max-width: 278px;
    max-height: 45px;
    height: auto;
    width: 100%;
}
.desktop-link {
    display: none !important;
}
.mobile-link, .sub-top-link {
    display: block;
}
.menu-link {
	cursor:pointer;
    display: block;
    background-color: $btn-color;
    float: right;
    padding: 8px;
    font-size: 8px;
    a {
        display: block;
        color: $btn-font-color;
        text-decoration: none;
        border: 1px solid $btn-font-color;
        padding: 3px 6px;
        border-radius: 5px;
    }
}
.menu-link:hover{
	background-color: $btn-hover-color;
}

.menu {
    display: none;
    clear: both;
    min-width: inherit;
    float: none;
    ul {
        display: inline;
        padding: 0px;
        border-top: 1px solid #808080;
        li.has-submenu > a:before {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            padding: 10px;
            color: $nav-arrow-color;
        }
        li.blue-bar a:before {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            padding: 10px;
            color: $btn-font-color;
        }
        li.blue-bar a {
            background-color: $btn-color;
            color: $btn-font-color;
           /* padding: 16px;*/
            border-radius: 0px;
          /*  margin-left: 4px;*/
        }
        li.blue-bar a:hover {
            background-color: $btn-hover-color;
        }
        li {
            display: block;
            text-align: left;
            a {
                border-radius: 0px;
                color: #000;
                display: block;
                padding: 0.8em;
                border-bottom: 1px solid lightgray;
                position: relative;
                text-decoration: none;
                background-color: $nav-mobile-color;
            }
            a:hover{
            	background-color:$nav-mobile-hover-color;
            }
            ul.sub-menu {
                overflow: hidden;
               /* max-height: 0;*/ display:none;
                background-color: #f4f4f4;
                padding: 0px;
                border: none;
                position: relative;
                left: auto;
                top: auto;
                border: none;
                li {
                    a {
                        background-color: $nav-mobile-color;
                        padding-left: 40px;
                    }
                     a:hover{
            	background-color:$nav-mobile-hover-color;
            }
                }
                li.back-link{
                	a{
                		 /*padding-left: 0.8em;*/
                		 background-color: $nav-back-color;
                	}
                }
            }
        }
    }
}
.bx-window {
}
.bx-window ul {
    list-style: none;
}
.bx-window li {
    list-style: none;
    top: 0px;
    left: 0px;
    z-index: 99;
    opacity: 1;
}
.bx-window img {
    max-width: $default-site-width;
    max-height: 490px;
    height: auto;
    width: 100%;
}
.main_content {
    max-width: $default-site-width;
    margin: 0 auto;
    .content-wrapper {
        width: 100%;
        .content {
            float: right;
            width: 100%;
        }
        .entry {
            padding: 0 10px;
            h1 {
                text-align: left;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            .entry-content {
                text-align: left;
            }
        }
        .sidebar {
            display: none;
            float: left;
            width: 30%;
            ul {
                list-style: none;
                margin-top: 0px;
                .blue-bar > a:first-child {
                    background-color: $btn-color;
                    color: $btn-font-color;
                    padding: 16px;
                    border-radius: 0px;
                }
                ul {
                    padding-left: 0px;
                }
                a {
                    text-decoration: none;
                    display: block;
                    padding: 9px 20px;
                    text-decoration: none;
                    background-color: #d6d6d6;
                    background: rgba(0,0,0,0.1);
                    color: #383838;
                    margin-bottom: 2px;
                }
            }
        }
    }
}
footer {
    padding-top: 55px;
    border-top: 2px solid #d0d0d0;
   /* overflow: hidden;
    margin-top: -4px;*/
    clear:both;
    .footer-inner {
        max-width: 950px;
        margin: 0 auto;
        padding: 0 10px;
        .quick-links-menu {
            font-size: 9px;
            float: left;
            position: relative;
            margin-bottom: 3px;
            width: 100%;
            ul {
                list-style: none;
                margin: 0 6px 0 0;
                padding-left: 0px;
                li {
                    float: left;
                    margin-left: 3px;
                    padding-left: 3px;
                    border-left: 1px solid #666;
                    list-style: none;
                }
                li:first-child {
                    margin-left: 0;
                    padding-left: 0;
                    border-left: 0;
                }
                a, a:visited {
                    color: $link-default-color;
                }
                a:active, a:focus, a:hover {
                  color: #61c0fe;
                }
            }
        }
        .copyright {
            float: left;
            position: relative;
            font-size: 7px;
            color: $footer-copyright-color;
            text-align: left;
        }
        .explore {
            float: left;
            margin-top: -60px;
            margin-left: -30px;
            img {
                vertical-align: middle;
                width: 25%;
                height: 25%;
            }
            a {
                color: $footer-explore-color;
                font-size: 9px;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
}
