/* ==========================================================================
  							FONTS
   ========================================================================== */
//font-family
$default-font-family:Georgia, serif;


//font-sizes
$nav-font-size:12px;

$sidebar-font-size:15px;
$sidebar-header-font-size:17px;

$content-header-font-size:36px;
$content-font-size:15px;
$content-mobile-header-font-size:24px;
$content-mobile-font-size:13px;

//font-colors
$link-default-color:#00a2ff;

$btn-font-color:#ffffff; /*#1ba4fc;*/

$nav-font-color:#383838;    //#122b80; //#193968; //#383838 current
$nav-mobile-font-color:#102244;
$nav-font-back-color:#6d7075;
$nav-arrow-color:#3cb7fc;
$nav-arrow-back-color:#111112;

$footer-explore-color:#0065b8; /* #0e67b6;*/
$footer-copyright-color:#5f6166;


/* ==========================================================================
  							BACKGROUND COLORS
   ========================================================================== */
$body-color:#ffffff;

$head-color: #151d2a;
$header-menu-color:#eee; // #e5e5e5; //current #eee


$btn-color:#1a3968;
$btn-hover-color:#295fb6;

$nav-active-color:#caebfd; //active current web - #c9d3e3 //active font current #122b80
$nav-hover-color:#d6d6d6; //#d5d5dc; //#d6d6d6 current;
$nav-hover2-color:#c0c2c5; //current color #c0c2c5
$nav-back-color:#f8f8f9;
$nav-mobile-color:#ffffff;
$nav-mobile-hover-color:#e5e5e5;
$nav-mobile-border-color:#d5d5dc;
/* ==========================================================================
  							DIMENSIONS
   ========================================================================== */
   
$default-site-width:960px;


