/* ==========================================================================
  							FONTS
   ========================================================================== */
//font-family
$default-font-family:Georgia, serif;


//font-sizes
$nav-font-size:12px;

//font-colors
$btn-font-color:#ffffff;
$nav-font-color:#122b80; //#193968;

/* ==========================================================================
  							BACKGROUND COLORS
   ========================================================================== */


$header-color: #151d2a;
$header-menu-color:  #eee;
$btn-color:#1a3968;
$nav-hover-color:#dcdcdc;



/* ==========================================================================
  							DIMENSIONS
   ========================================================================== */
   
$default-site-width:960px;