
	<div>
		<ul>
				<% data.nav.links.each do |links| %>
				<% if links.link == index %>
					<li class="<% if links.sub_menu %>has-submenu<% end %> blue-bar">
						<%=link_to links.name,links.link%>
						<% if links.sub_menu %>
							<ul class="sub-menu">
								<% links.sub_menu.each do |sub_link| %>
									<li>   
 										<%=link_to sub_link.name,sub_link.link%>
									</li>
								<% end %>
							</ul>
						<% end %>
					</li>
				<% end %>
				<% end %>
			</ul>
			
	</div>