<%= partial '/partials/mobile_back_link' , :locals => { :list_index => '0' }%>
<div class="content-wrapper">
	<%= partial '/partials/sidebar' , :locals => { :list_index => '0' }%>
	<div class="content">
		<div class="entry">
			<h1>Competitive Advantages</h1>
			<div class="entry-content">
				<p>
					<strong>Track Record</strong>
				</p>
				<p>
					Since the establishment of the first Fund in 1995, Lone Star has organized thirteen private equity funds with aggregate capital commitments totaling over $52 billion.
				</p>
				<p>
					In seeking investments in financial assets, an extensive background with these asset types is critical to accurately underwrite financial and collateral asset values and develop corresponding pricing.&nbsp; Lone Star has vast transactional experience, having closed more than&nbsp;400 investments in&nbsp;approximately 1,200 transactions at an aggregate purchase price of approximately $120 billion (including acquisition financing and co-investors).
				</p>
				<p>
					<strong>Global Origination Network</strong>
				</p>
				<p>
					Lone Star sources investments on a global basis and evaluates potential investment opportunities that fall within the Funds’ investment parameters.&nbsp; Lone Star has been actively investing in North America, Europe and East Asia for over a decade, which serves as a major competitive advantage when sourcing investment opportunities.&nbsp;&nbsp; Further, because of its access to large amounts of capital, Lone Star can focus particularly on larger scale transactions in which the potential list of buyers is often limited, maximizing the possibility of achieving the most attractive acquisition terms.
				</p>
				<p>
					<strong>Asset Management</strong>
				</p>
				<p>
					Since its inception in 1995, Hudson Advisors LLC and its global subsidiaries (collectively, “Hudson”) has been dedicated to the support of the Funds’ investment activities globally, providing due diligence and analysis, asset management and other support services.<i></i>
				</p>
				<p>
					Hudson provides due diligence and analysis, asset management and other support services to the Funds globally and is a full-service asset management company with&nbsp;approximately 800 employees worldwide.&nbsp; Hudson has advised the Funds with respect to&nbsp;approximately 834,000 assets with an aggregate purchase price of&nbsp;approximately $120 billion (including acquisition financing and co-investors) since 1995.
				</p>
				<p>
					During its evaluation of investment opportunities, Lone Star utilizes Hudson’s extensive knowledge of global market pricing obtained through oversight of asset liquidations. &nbsp;Lone Star also benefits from&nbsp;specialty management companies, owned by a Fund or Funds, including&nbsp;Caliber Home Loans, Inc. (a combination of the companies previously known as Vericrest Financial, Inc. and Caliber Funding LLC), a full-service mortgage company and special servicer that provides a full complement of services in connection with the acquisition of single family residential whole loans in the U.S.&nbsp; Hudson maintains strategic oversight with respect to such platforms.&nbsp;&nbsp;Read more about&nbsp;<a title="Asset Management" class="link" href="../../asset-management/">Asset Management</a>.
				</p>
			</div>
		</div>
	</div>
</div>