<%= partial '/partials/mobile_back_link' , :locals => { :list_index => '0' }%>
<div class="content-wrapper">
	<%= partial '/partials/sidebar' , :locals => { :list_index => '0' }%>
	<div class="content">
		<div class="entry">
			<h1>
			History </h1>
			<div class="entry-content">
				<p>
					 Lone Star was founded by John Grayken in 1995.&nbsp; Since the establishment of the first Fund in 1995, Lone Star has organized thirteen funds with aggregate capital commitments totaling over $52 billion.
				</p>
				<p>
					 Lone Star’s origins trace back to a joint venture between the Robert M. Bass Group and the Federal Deposit Insurance Corporation (“FDIC”) in 1993, called Brazos Partners, L.P. (“Brazos Partners”), in which nearly 1,300 “bad bank” assets that were impaired as a result of the U.S. savings and loan crisis of the early 1990s were acquired and resolved.&nbsp; As Chairman and CEO of the general partner of Brazos Partners, Mr. Grayken led the operation.&nbsp; After the majority of the assets held by Brazos Partners had been liquidated, Mr. Grayken began organizing institutional capital to continue pursuing investment&nbsp;opportunities on a larger scale.&nbsp; Brazos Fund, L.P. (“Brazos Fund”) closed in 1995 with approximately $250 million of capital commitments and subsequently targeted investments primarily in&nbsp;debt and real estate in North America.&nbsp; Brazos Advisors, LLC was established at this time to carry out the day-to-day management and servicing of the assets acquired by Brazos Fund.&nbsp; Mr. Grayken next organized Lone Star Opportunity Fund, L.P. (“Lone Star Opportunity Fund”), which closed in November 1996 with $396 million of capital commitments.&nbsp; Brazos Advisors, LLC, which was subsequently renamed Hudson Advisors LLC, provided asset management and other support services to Lone Star Opportunity Fund.
				</p>
				<p>
					 During 1995 and 1996, Lone Star began actively investing in Canada, establishing itself as a large acquirer of debt in Canada. &nbsp;Based on the success of the migration outside of U.S. markets, the strategic decision was made by Mr. Grayken to implement a global platform in 1997.&nbsp; Since that time, the Funds have invested broadly across the U.S., Western Europe and East Asia.&nbsp; From 1998 to 2004, the Funds invested primarily in East Asia (Japan, Korea, Indonesia and Taiwan), following the collapse of the real estate bubble in Japan in the early 1990s and the broader financial crisis in East Asia in the late 1990s.&nbsp; In 2005, investment activity in Europe began to intensify after the introduction of the Eurozone, resulting in the consolidation and deleveraging of financial institutions.&nbsp;&nbsp;In 2007, Lone Star began to see significant&nbsp;investment opportunities&nbsp;re-surfacing in the U.S. as capital flows slowed dramatically and illiquidity became widespread.
				</p>
				<p>
					 Since its inception in 1995, Hudson Advisors LLC and its global subsidiaries (collectively, “Hudson”) has been dedicated to the support of the Funds’ investment activities globally, providing due diligence and analysis, asset management and other support services.<em></em>
				</p>
			</div>
		</div>
	</div>
</div>