<%= partial '/partials/mobile_back_link' , :locals => { :list_index => '0' }%>
<div class="content-wrapper"> 
<%= partial '/partials/sidebar' , :locals => { :list_index => '0' }%>


<div class="content">

	
	<div class="entry">
	<h1>
					LStar Capital			</h1>

	<div class="entry-content">
					<p><b>(<a title="LStarcap.com" href="http://www.LStarcap.com" target="_blank">www.LStarcap.com</a>)</b></p>
<p>LStar Capital (“LStar”) is a credit affiliate of Lone Star that provides both corporate and commercial real estate lending expertise.&nbsp; Performing loans funded or purchased for the Funds by Lone Star are underwritten and managed by the LStar team. &nbsp;&nbsp;</p>
<p>&nbsp;<b>Corporate Debt</b></p>
<p>The LStar team has the underwriting expertise to provide access to debt across the capital structure with a focus on second lien, secured last-out, and mezzanine solutions, along with equity co-investments. LStar’s industry depth and creativity offers a one-stop source of financing and confidence in&nbsp;execution.</p>
<p>&nbsp;<b>Commercial Real Estate</b></p>
<p>Through its commercial real estate lending division, LStar also provides access to flexible debt capital to underserved non-primary commercial real estate markets.&nbsp; LStar’s ability to underwrite and asset manage / conduct surveillance on large volumes of loans is a distinct competitive advantage. The LStar team has deep in-house knowledge with small balance loans in non-primary markets across the United States. LStar targets small balance whole loans, mezzanine, b-notes, DPO / rescue financing, and transitional / value-add lending.</p>
			</div>
</div>


</div>


