<div class="container"> 



<div class="content">

	
	<div class="entry">
	<h1>Investment Approach</h1>

	<div class="entry-content">
					<p>Lone Star seeks investment opportunities in developed markets that have suffered an economic and/or banking crisis, resulting in a dislocation in asset pricing and value opportunities.  Specifically, Lone Star seeks to capitalize on market conditions in which:

Liquidity is restricted and financing is constrained;
Financial institutions’ balance sheets are under pressure and there is a need to dispose of high volumes of assets to manage capital, deleverage and build liquidity; and
Lone Star is able to achieve a favorable position in a transaction through its large network of relationships across the globe.
When pursuing investment opportunities, Lone Star evaluates a broad scope of transactions including, but not limited to:

Equity and debt investments in value-oriented assets, including corporate, commercial, and single family residential real estate and consumer debt,
Other real estate and real estate-related assets,
Control investments in financially oriented and other operating companies, and
Securitized products such as RMBS (Residential Mortgage Backed Securities), CDOs (Collateralized Debt Obligations, the underlying assets of which generally consist of RMBS), CMBS (Commercial Mortgage-Backed Securities) and other asset-backed securities.
Lone Star’s investment approach focuses on leveraging long standing relationships with counterparties to source opportunities, a comprehensive bottom-up asset-based underwriting approach, a streamlined approval process, a dedicated asset management platform and the continual evaluation of exit strategies.
					</p>
	</div>
</div>


</div>

<aside class="sidebar" id="sidebar"> <%= partial '/partials/sidebar' , :locals => { :index => '/about-us.html' }%></aside>

				