<%= partial '/partials/mobile_back_link' , :locals => { :list_index => '0' }%>
<div class="content-wrapper">
    <%= partial '/partials/sidebar' , :locals => { :list_index => '0' }%>
	<div class="content">
		<div class="entry">
			<h1>Investment Approach</h1>
			<div class="entry-content">
				<p>
					Lone Star seeks&nbsp;investment opportunities in developed markets that have suffered an economic and/or banking crisis, resulting in a dislocation in asset pricing and value opportunities.&nbsp; Specifically, Lone Star seeks to capitalize on market conditions in which:
				</p>
				<ul>
					<li>Liquidity is restricted and financing is constrained;</li>
					<li>Financial institutions’ balance sheets are under pressure and there is a need to dispose of high volumes of assets to manage capital, deleverage and build liquidity; and</li>
					<li>Lone Star is able to achieve a favorable position in a transaction through its large network of relationships across the globe.</li>
				</ul>
				<p>
					When pursuing investment opportunities, Lone Star evaluates a broad scope of transactions including, but not limited to:
				</p>
				<ul>
					<li>Equity and debt investments in&nbsp;value-oriented assets, including corporate, commercial, and single family residential real estate and consumer debt,</li>
					<li>Other real estate and real estate-related assets,</li>
					<li>Control investments in financially oriented and&nbsp;other operating companies, and</li>
					<li>Securitized products such as RMBS (Residential Mortgage Backed Securities), CDOs (Collateralized Debt Obligations, the underlying assets of which generally consist of RMBS), CMBS (Commercial Mortgage-Backed Securities) and other asset-backed securities.</li>
				</ul>
				<p>
					Lone Star’s investment approach focuses on leveraging long standing relationships with counterparties to source opportunities, a comprehensive bottom-up asset-based underwriting approach, a streamlined approval process, a dedicated asset management platform and the continual evaluation of exit strategies.
				</p>
			</div>
		</div>
	</div>
</div>