<div class="content-wrapper">
	<div class="content">
		<div class="entry">
	<h1>
					Lone Star Fund IX			</h1>

	<div class="entry-content">
					<p>Lone Star Fund IX (U.S.), L.P. and&nbsp;Lone Star Fund IX (Bermuda), L.P., each formed in April 2014,&nbsp;and Lone Star Fund IX Parallel (Bermuda), L.P., formed in&nbsp;June 2014,&nbsp;(collectively, “Lone Star Fund IX”) held their final closings in July 2014 with $7.2 billion in combined capital commitments.&nbsp; Transactions targeted by Lone Star Fund IX include investments in the U.S., Western Europe and Japan in financial and other investment assets, including single family residential debt and corporate and consumer debt products as well as investments in financially oriented and other operating companies.</p>
			</div>
</div>
	</div>
<aside class="sidebar"> <%= partial '/partials/sidebar' , :locals => { :list_index => '1' }%></aside>
</div>