<%= partial '/partials/mobile_back_link' , :locals => { :list_index => '2' }%>
<div class="content-wrapper">
	<%= partial '/partials/sidebar' , :locals => { :list_index => '2' }%>
	<div class="content">
		<div class="entry">
			<h1>
			Benefits of Dedicated Asset Management </h1>
			<div class="entry-content">
				<div>
					<p>
						<strong>Dedicated Relationship:</strong> Through its relationship with Hudson, Lone Star receives dedicated focus and attention. &nbsp;Lone Star also benefits from Hudson’s extensive knowledge of global market pricing, underwriting and servicing.
					</p>
					<p>
						<strong>Privacy of Information:</strong> Critical proprietary buy-side and sell-side information can be maintained primarily within the Lone Star and Hudson organizations, limiting the amount of sensitive market data that is available to third parties.
					</p>
					<p>
						<strong>Scale / Cost Control:</strong> Hudson’s large scale and experience allow for cost effective asset management services.
					</p>
					<p>
						<strong>Alignment of Interests:</strong> Through an employee Co-Investment Program, Lone Star and Hudson provide incentives to key employees and consultants to ensure an alignment of interests between Lone Star, Hudson and the Funds.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>