<%= partial '/partials/mobile_back_link' , :locals => { :list_index => '2' }%>
<div class="content-wrapper">
	<%= partial '/partials/sidebar' , :locals => { :list_index => '2' }%>
	<div class="content">
		<div class="entry">
			<h1>
			Specialty Management Firms </h1>
			<div class="entry-content">
				<p>
					In the course of making investments, certain of the Funds have acquired or created certain specialty management companies to service various assets requiring specific management expertise, a selection of which is detailed below.&nbsp; While these specialty companies manage the day-to-day activities of these investments, Hudson maintains strategic oversight including managing the business plans for the investments and providing these organizations with a capital-focused discipline.
				</p>
				<h3>Caliber Home Loans, Inc.</h3>
				<ul>
					<li>Full service mortgage company and special servicer&nbsp;(a combination of the companies formerly known as Vericrest Financial, Inc. and Caliber Funding LLC) that provides a full complement of services including managing collection, modification and reporting activities for U.S. residential whole loan portfolios</li>
					<li>Jointly owned by&nbsp;Lone Star Fund V and&nbsp;Lone Star Fund VI</li>
				</ul>
				<h3>Solare Hotels and Resorts K.K.</h3>
				<ul>
					<li>Manages operations for all hotel and other hospitality assets owned by&nbsp;the Funds&nbsp;in Japan</li>
					<li>Owned by Lone Star Fund IV</li>
				</ul>
				<h3>Pacific Golf Management K.K.</h3>
				<ul>
					<li>Managed operations for all golf course properties owned by&nbsp;the Funds&nbsp;in Japan</li>
					<li>Previously owned by Lone Star Fund III and Lone Star Fund IV*</li>
				</ul>
				<div class="data-footer">
					<p>
						*Pacific Golf Management K.K. was sold December 5, 2011.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>