<%= partial '/partials/mobile_back_link' , :locals => { :list_index => '3' }%>
<div class="content-wrapper">
	<%= partial '/partials/sidebar' , :locals => { :list_index => '3' }%>
	<div class="content">
		<div class="entry">
			<h1></h1>
			<div class="entry-content">
				<p>
					Lone Star has a global presence with investment professionals in offices around the world.
				</p>
				<div id="map" class="map">
					<img src="http://www.lonestarfunds.com/wp-content/themes/lonestarfunds/_ui/images/page/map.png" alt="World Map" width="810" height="549">
					<a href="#hcard-office-dallas" class="point" style="top: 204.7px; left: 187.2px;"></a><a href="#hcard-office-new-york" class="point" style="top: 184.7px; left: 238.5px;"></a><a href="#hcard-office-washington-d-c" class="point" style="top: 189.6px; left: 231.7px;"></a><a href="#hcard-office-montreal" class="point" style="top: 171.6px; left: 239.5px;"></a><a href="#hcard-office-london" class="point" style="top: 153.3px; left: 404.7px;"></a><a href="#hcard-office-frankfurt" class="point" style="top: 157.8px; left: 424.5px;"></a><a href="#hcard-office-amsterdam" class="point" style="top: 150.5px; left: 416.0px;"></a><a href="#hcard-office-tokyo" class="point" style="top: 197.7px; left: 719.5px;"></a><a href="#hcard-office-hamilton" class="point" style="top: 205.9px; left: 259.2px;"></a>
				</div>
				<div class="offices">
					<ul class="cols-3">
						<li class="office vcard" id="hcard-office-dallas">
						<h2>Dallas</h2>
						<ul class="companies">
							<li class="org fn">Lone Star Global Acquisitions, Ltd.</li>
						</ul>
						<div class="adr">
							<span class="street-address">2711 North Haskell Avenue</span>
							<span class="extended-address">Suite 1700</span>
							<span class="locality">Dallas</span>, <span class="region">Texas</span><span class="postal-code">75204</span>
							<span class="country-name">USA</span>
						</div>
						<a class="tel" href="tel:">
						214-754-8300 </a>
						<div class="geo">
							<span class="latitude">32.805537</span>
							<span class="longitude">-96.791831</span>
						</div>
						</li>
						<li class="office vcard" id="hcard-office-new-york">
						<h2>New York</h2>
						<ul class="companies">
							<li class="org fn">Lone Star Americas Acquisitions, LLC</li>
						</ul>
						<div class="adr">
							<span class="street-address">888 7th Avenue</span>
							<span class="extended-address">18th Floor</span>
							<span class="locality">New York</span>, <span class="region">New York</span><span class="postal-code">10019</span>
							<span class="country-name">USA</span>
						</div>
						<a class="tel" href="tel:">
						917-286-3300 </a>
						<div class="geo">
							<span class="latitude">40.7654039</span>
							<span class="longitude">-73.98085900000001</span>
						</div>
						</li>
						<li class="office vcard" id="hcard-office-washington-d-c">
						<h2>Washington, D.C.</h2>
						<ul class="companies">
							<li class="org fn">Lone Star Americas Acquisitions, LLC</li>
						</ul>
						<div class="adr">
							<span class="street-address">1401 New York Avenue NW</span>
							<span class="extended-address">Suite 520</span>
							<span class="locality"></span>Washington, D.C. <span class="region"><span class="postal-code">20005</span>
							<span class="country-name">USA</span></span>
						</div>
						<a class="tel" href="tel:">
						202-567-5600 </a>
						<div class="geo">
							<span class="latitude">38.9010805</span>
							<span class="longitude">-77.0313786</span>
						</div>
						</li>
					</ul>
					<ul class="cols-3">
						<li class="office vcard" id="hcard-office-montreal">
						<h2>Montreal</h2>
						<ul class="companies">
							<li class="org fn">Lone Star Americas Acquisitions, LLC</li>
						</ul>
						<div class="adr">
							<span class="street-address">800 de la Gauchetiere West</span>
							<span class="extended-address">South East Portal - Suite 9400</span>
							<span class="locality">Montreal</span>, <span class="region">Quebec</span><span class="postal-code">H5A 1K6</span>
							<span class="country-name">Canada</span>
						</div>
						<a class="tel" href="tel:">
						514‐879-6310 </a>
						<div class="geo">
							<span class="latitude">45.500226</span>
							<span class="longitude">-73.56550500000003</span>
						</div>
						</li>
						<li class="office vcard" id="hcard-office-london">
						<h2>London</h2>
						<ul class="companies">
							<li class="org fn">Lone Star Europe Acquisitions LLP</li>
						</ul>
						<div class="adr">
							<span class="street-address">12 Queen Anne Street</span>
							<span class="locality">London</span><span class="postal-code">W1G 9LF</span>
							<span class="country-name">England</span>
						</div>
						<a class="tel" href="tel:">
						44‐20‐7616‐6800 </a>
						<div class="geo">
							<span class="latitude">51.5177152</span>
							<span class="longitude">-0.14945510000006834</span>
						</div>
						</li>
						<li class="office vcard" id="hcard-office-frankfurt">
						<h2>Frankfurt</h2>
						<ul class="companies">
							<li class="org fn">Lone Star Germany Acquisitions GmbH</li>
						</ul>
						<div class="adr">
							<span class="street-address">Hamburger Allee 14</span>
							<span class="locality">60486 Frankfurt am Main</span><span class="postal-code"></span>
							<span class="country-name">Germany</span>
						</div>
						<a class="tel" href="tel:">
						49-69‐71042‐260 </a>
						<div class="geo">
							<span class="latitude">50.1145474</span>
							<span class="longitude">8.649913999999967</span>
						</div>
						</li>
					</ul>
					<ul class="cols-3">
						<li class="office vcard" id="hcard-office-amsterdam">
						<h2>Amsterdam</h2>
						<ul class="companies">
							<li class="org fn">Lone Star Netherlands Acquisitions B.V.</li>
						</ul>
						<div class="adr">
							<span class="street-address">World Trade Centre Amsterdam</span>
							<span class="extended-address">Toren A Level 6</span>
							<span class="extended-address">Strawinskylaan 1<span>
							<span class="extended-address">(Postal Address: Strawinskylaan 615)</span>
							<span class="locality">1077XW Amsterdam</span><span class="postal-code"></span>
							<span class="country-name">Netherlands</span>
							</span></span>
						</div>
						<a class="tel" href="tel:">
						31(0)20-241 5300 </a>
						<div class="geo">
							<span class="latitude">52.3740300</span>
							<span class="longitude">4.8896900</span>
						</div>
						</li>
						<li class="office vcard" id="hcard-office-tokyo">
						<h2>Tokyo</h2>
						<ul class="companies">
							<li class="org fn">Lone Star Japan Acquisitions, Ltd. </li>
						</ul>
						<div class="adr">
							<span class="extended-address">Marunouchi Kitaguchi Building</span>
							<span class="extended-address">19th Fl.</span>
							<span class="street-address">1-6-5 Marunouchi, Chiyoda‐ku</span>
							<span class="locality">Tokyo</span><span class="postal-code">100‐0005</span>
							<span class="country-name">Japan</span>
						</div>
						<a class="tel" href="tel:">
						81-3-5224-5300 </a>
						<div class="geo">
							<span class="latitude">35.6825417</span>
							<span class="longitude">139.7642978</span>
						</div>
						</li>
						<li class="office vcard" id="hcard-office-hamilton">
						<h2>Hamilton</h2>
						<ul class="companies">
							<li class="org fn">Lone Star Global Acquisitions, Ltd.</li>
						</ul>
						<div class="adr">
							<span class="extended-address">Washington Mall Suite 304</span>
							<span class="street-address">7 Reid Street</span>
							<span class="locality">Hamilton</span><span class="postal-code">HM11</span>
							<span class="country-name">Bermuda</span>
						</div>
						<a class="tel" href="tel:">
						441‐296‐1754 </a>
						<div class="geo">
							<span class="latitude">32.2934255</span>
							<span class="longitude">-64.78304559999998</span>
						</div>
						</li>
					</ul>
				</div>
				<!-- / offices -->
			</div>
		</div>
	</div>

