<div class="content-wrapper"> <%= partial 'basic_content' , :locals => { :index => '/about-us.html' }%></div>

<aside class="sidebar" id="sidebar"> <%= partial 'sidebar' , :locals => { :index => '/about-us.html' }%></aside>

				