<%= partial '/partials/mobile_back_link' , :locals => { :list_index => '0' }%>
<div class="content-wrapper">  <%= partial '/partials/sidebar' , :locals => { :list_index => '0' }%><%= partial '/partials/basic_content' , :locals => { :data => data.about.about_us }%></div>


