<%= partial '/partials/mobile_back_link' , :locals => { :list_index => '2' }%>
<div class="content-wrapper">
<%= partial '/partials/sidebar' , :locals => { :list_index => '2' }%>
	<div class="content">
		<div class="entry">
			<h1>
			Asset Management </h1>
			<div class="entry-content">
				<h3>Hudson Advisors LLC (<a class="link" href="http://www.hudson-advisors.com" target="_blank">www.hudson-advisors.com</a>)</h3>
				<p>
					Hudson is a globally integrated asset management company that performs due diligence and analysis, asset management and other support services for Lone Star and to the assets acquired by the Funds.&nbsp; Formed in 1995, Hudson Advisors LLC&nbsp;(formerly known as Brazos Advisors, LLC) is headquartered in Dallas, Texas, is an investment advisor registered with the U.S. Securities and Exchange Commission and has subsidiary offices in New York, Montreal, San Juan, London, Frankfurt, Munich, Luxembourg, Dublin, Madrid, Paris, Amsterdam&nbsp;and Tokyo. &nbsp;Hudson collectively employs&nbsp;approximately 800 professionals.
				</p>
				<p>
					Hudson has significant expertise in loan servicing and asset management, providing a full range of services that include due diligence and valuation, financial&nbsp;services and reporting, income and property tax compliance, currency and interest rate hedging, risk management, information technology development and systems support. &nbsp;Certain of the Hudson subsidiaries are rated primary and/or special servicer by Fitch Ratings and Standard &amp; Poor’s Rating Services.&nbsp; Hudson has direct experience in servicing performing and sub-performing loan portfolios, workouts of&nbsp;loan portfolios, corporate restructurings/turnarounds, rehabilitation and repositioning of real estate assets across a variety of property types, land and real estate development and servicing a variety of debt instruments.
				</p>
				<p>
					Since the inception of Brazos Fund, Hudson has provided due diligence and analysis, asset management and other support services to&nbsp;approximately 834,000 assets with an aggregate purchase price of&nbsp;approximately $120 billion (including acquisition financing and co-investors).&nbsp; Hudson maintains strategic oversight of specialty management firms that are&nbsp;owned by a Fund or Funds to service certain assets requiring specific management expertise.&nbsp; Read more about <a title="Specialty Management Firms" class="link" href="specialty-management-firms/">Specialty Management Firms</a>.
				</p>
			</div>
		</div>
	</div>
</div>