<%= partial '/partials/mobile_back_link' , :locals => { :list_index => '3' }%>


<div class="content-wrapper"> 
<%= partial '/partials/sidebar' , :locals => { :list_index => '3' }%>
	<div class="content">
		<div class="entry">
			<h1>Contact Info</h1>
			<div class="entry-content">
					<p>Please submit inquiries to <a class="samllFont link" href="mailto:InvestorRelations@lonestarfunds.com">InvestorRelations@lonestarfunds.com</a>.</p>
			</div>
		</div>
	</div>
</div>
				