	<div>
	<div class="bx-wrapper">
	
	<div class="bx-window" >
	<img src="images/home-img.jpg">
	<div>
	<div>
	<!--<ul>
					<li class="hero" >
								
				<div class="description">
					<h1></h1>
					<div class="entry-content">
						<p>Lone Star is a global private equity firm that invests in real estate, equity, credit and other financial assets. Since the establishment of its first fund in 1995, Lone Star has organized thirteen private equity funds with aggregate capital commitments totaling over $52 billion.</p>
						<div class="call-to-action">
							<a href="http://www.lonestarfunds.com/about-us/history/" class="btn btn-b">Read About Lone Star's History</a>
						</div>
					</div>
				</div>
			</li>
			</ul> -->
</div>

