<div class="content-wrapper"> 



<div class="content">
<div class="entry">
	<h1>
					Privacy Policy			</h1>

	<div class="entry-content">
					<p>This statement applies to Lone Star Funds Web Sites Worldwide.</p>
<p><strong>Privacy Notice</strong></p>
<p>Lone Star (as such term is defined in the User Agreement related to the Site) is committed to protecting any personal information that you may provide to us. The purpose of this Privacy Notice is to inform you of how we treat information about you that we may receive from the web site located at www.LoneStarFunds.com (the “Site”). This Privacy Notice only applies to information collected on the Site and is not intended to fully describe the privacy policies of Lone Star or the Funds.</p>
<p><strong>1. What information does Lone Star collect? </strong><br>
Generally, you can visit the Site without telling us who you are or revealing any information about yourself. However, to access certain reports and confidential information, you will be required to login using your confidential password and registration information. Once you have logged in, you are no longer anonymous to us. Additionally, we automatically receive and record information from our servers and from your browser, including your IP address, the time, and information about the page you requested. Our web servers may also seek (as many web sites do) to place a “cookie” (a small data file) on your computer’s hard drive, which allows the server to recognize the computer when it visits again. This allows us to track statistical information about navigation to and throughout certain areas of the Site. Cookies are not used to obtain your name or any personal data.</p>
<p><strong>2. How does Lone Star use the information? </strong><br>
Lone Star uses the password and login information to restrict unauthorized access to confidential information. We may also use non-personally identifying information to better understand our users and their needs.</p>
<p><strong>3. Will Lone Star share my personal information? </strong><br>
No, Lone Star will not share your personal information with any person or entity outside of Lone Star without first receiving your personal consent, or unless Lone Star is compelled by a binding legal order to share it.</p>
<p><strong>4. What are my options? </strong><br>
If you do not want to provide your password and login information, you can choose not to access the confidential information available on the Site. You can still view some of the content offered by our site without signing in. We also give users the choice to opt not to provide certain personal information when registering.</p>
<p><strong>5. How will I know if the Privacy Notice is changed? </strong><br>
Any modifications to our privacy practices will be reflected first in this Privacy Notice. If there is a material change in our privacy practices, we will indicate on our site that our privacy practices have changed and provide a link to the new privacy statement. If we are going to be using the information collected from users in a manner materially different from that stated at the time of collection we will send affected users written notice of the change.</p>
<p><strong>6. How can I update my personally identifiable information? </strong><br>
You can correct or change your personal information by sending us an email detailing the requested change or correction at <a href="mailto:investorrelations@LoneStarFunds.com">InvestorRelations@lonestarfunds.com</a>.</p>
<p><strong>7. Privacy of children </strong><br>
The Site is not directed to children under the age of 13. We operate our site in compliance with the Children’s Online Privacy Protection Act and do not permit registration by, and will not knowingly collect or use personally identifiable information from, anyone under 13 years of age.</p>
<p>Questions regarding this Privacy Notice, or regarding any other aspects of the Site, should be sent via e-mail to <a href="mailto:investorrelations@LoneStarFunds.com">InvestorRelations@lonestarfunds.com</a>.</p>
<p>Updated August 2012</p>
			</div>
</div>
	</div>
</div>